body {

  background:  tan;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, tan 0%, tan 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, tan 0%, tan 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, tan 0%,  tan 100%);
  /* Old browsers */
  margin: 50;
  padding: 0;
}

span {
  text-align: center;
}
p {
    color: black;
    font-family: Garamond;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3em;
    text-align: left;
    width: 75%;
    margin: 20px;
    margin-right: 100px;
}

h1 {
  color: black;
  font-family: Garamond;
  line-height: 24px;
  font-size: 7em;
  padding-top: 100px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.title {
    color: rgb(6, 20, 20);
  }

.cursive {
    font-family: cursive;
  }

  h2,h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.925);
    font-weight: 100;
    font-size: 28px;
    font-family: Georgia;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
  }


#article-title {
  font-family: Garamond;
}
